<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <img src="https://image.flaticon.com/icons/svg/457/457994.svg" alt="">
  <% end %>
  <h1 class='nav-title'>- The Club -</h1>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Links -->
    <%= link_to "EVENTS", "#", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "TASTINGS", "#", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "COMMUNITY", "#", class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>
